body {
    background-color:white;
    color: black;
}

table, tr, td {
    border: none rgb(153, 139, 139);
    border-spacing: 2px;
    float: inline-end;
    width: 670px;
    background-color: rgb(#485808 );
  }
#elso {
    border: none;
    width: 650px;
    position: absolute;
    border-spacing: 2px;
    border-color: rgb(#485808 );
    width: 60px;
    float: inline-end;
}
a {
    text-align: center;
    float:inline-end
}