body {
    background-color: grey;
    color: black;
    text-align: center;
}

table, tr, td {
    border: none rgb(153, 139, 139);
    border-spacing: 2px;
    float: inline-end;
    width: 670px;
  }